.title{
  margin: 5vh;
  margin-top: 4vh;
  padding: 3vh;
  background:aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #97949f;
  text-align: left;
  font-weight: bold;
  color: #524388;
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.movie-row,
.seat-row,
.slot-row {
  border-radius: 10px;
  border: 1px solid #3d3370;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  background: whitesmoke;
}